/* COLORS */
/* 
#3161e0 
#364d8e
#e177a8

#292841
#f6f6f6
#23272a
*/

/* Generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    min-height: 200px;
    
}

footer{
    min-height: 200px;
    background-color: #23272a;
}

a{
    text-decoration: none;
    color: white;
    
}
/* Utils */


.gray{
    background-color: #f6f6f6;
}
/* Header */

header #navbar{
    min-height: 50px;
    background-color: #3161e0;
    padding: 0 150px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    
    
}

#navbar > div{
    padding: 10px;
}

section .logo-cont{
    width: 25%;
    display: flex;
    align-items: center;
}



section .nav-links{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .login{
    width: 25%;
    text-align: right;

}

.login button{
    width: 75px;
    background-color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
    color: #3c4043;
    cursor: pointer;
    font-size: 14px;
}

.text-container{
    display: flex;
    justify-content: center;
    min-height: 450px;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.text-container .textcontent{
    min-height: 300px;
    max-width: 800px;
    
}

.textcontent{
    color: white;
    text-align: center;
    padding: 20px 15px;
}

.textcontent h1{
    font-size: 70px;
    margin-bottom: 30px;
}

.textcontent p{
    font-size: 24px;
    margin-bottom: 20px;
}

.textcontent button{
    min-width: 250px;
    font-size: 24px;
    padding: 15px 20px;
    border-radius: 30px;
}

.buttonwhite{
    border: 1px solid white;
    color: #3c4043;
    margin-right: 25px;

}

.fa-arrow-down{
    margin-right: 10px;
}

.buttongray{
    border: 1px solid #23272a;
    color: white;
    background-color: #23272a;
}

/* main */
.flex-section{
    display: flex;
    padding: 150px 200px;
    align-items: flex-start;

}

.img{
    max-width: 60%;
    min-height: 400px;
    padding-right: 0 20px;
}

.img img{
    max-width: 100%;
}

section aside{
    max-width: 40%;
    min-height: 600px;
    padding: 30px 80px;
    color: #23272a;
}

aside h1{
    font-size: 42px;
    margin-bottom: 40px;
}

aside p{
    font-size: 22px;
}

.flex-sectionbig{
    display: flex;
    padding: 150px 200px;
    min-height: 900px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.bigimg{
    max-width: 80%;
    min-height: 400px;
}

.bigimg img{
    width: 100%;

}

.testo{
    max-width: 80%;
    min-height: 100px;
    color: #23272a;
    text-align: center;
    margin-bottom: 40px;
}

.testo h1{
    font-size: 42px;
    margin-bottom: 40px;
}

.testo p{
    font-size: 22px;
}

/* footer */
.footer-container{
    min-height: 600px;
    padding: 150px 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.footer-social-links{
    background-color: #33beb5;
    min-width: 27%;
    min-height: 300px;
}

.footer-info{
    min-width: 67%;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.column{
    min-width: 50px;
    min-height: 100px;
    background-color: #33beb5;

}

.subscribe{
    padding: 50px 200px;
    
}

.subscribe section{
    height: 50px;
    background-color: #33beb5;
}